## Working with Python Variables

### Stucture of creatign a varable 
(Variable name) (assignment opperator) (value
myVar = "blah"

### What are the data types in Python?
1. Strings - aning inside of '' or ""
2. Boolean - true/false
3. Integers - any number without a decimal 
4. Float - any number with a decimal

In [4]:
#Variable Reassignment

# A students gpa
student_gpa = 3.2 #Freshman year
student_gpa = 3.4 #Sophomore year
student_gpa = 3.7 #Junior year
student_gpa = 3.9 #Senior year

print(student_gpa)
# Output: 3.9

# If you need to store all data

student_gpa_fresh = 3.2 #Freshman year
student_gpa_Soph = 3.4 #Sophomore year
student_gpa_jr = 3.7 #Junior year
student_gpa_sr = 3.9 #Senior year

overall_gpa = (student_gpa_fresh + student_gpa_Soph + student_gpa_jr + student_gpa_sr) / 4
print(overall_gpa)

3.9
3.5500000000000003

In [5]:
# Sports team statistics

# basketball team variables
teamName = "Riverside Ravens"
wins = 18
losses = 7
pointsScored = 1456
pointsAllowed = 1298
leadingScorer = "Jordan Thopson" 
averagePointsPerGame = 58.2
chanmpions_contetders = True

print(chanmpions_contetders)

True

In [7]:
# the input function

#input("What is your first name?")

first_name = input("What is your first name? ")

print("Hello, " + first_name + "!")

Hello, Atreyu!

## 4 Main computational Process

- Input 
- Processing 
- Storage
- Output

### Strings, Assignments, and Comments:

**Data types** - Consists of a set of values and a set if operations that can be performed on those values 

A **Literial** - is the way a value of a data type looks to a programmer

type of data 

<table>
    <tr>
        <th>Type of Data</th>
        <th>Python type Name</th>
        <th>Example Literals</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    <tr>
        <td>Real numbers</td>
        <td>float</td>
        <td>-0.55, .3333, 3.15, 6.0</td>
    </tr>

    <tr>
</table>

In [3]:
hello = "Hello, there!"
myInt = 675
print(hello) # Litteral is: Hello there!
print(myInt) # Litteral is: 675

Hello, there!
675

## Escape Sequences

**Escape Sequences** - the way python expresses special charcters, such as tab

<table>
    <tr>
        <th>Escape Sequences</th>
        <th>Meaning<th>
    </tr>
    <tr>
        <td>\n</td>
        <td>Newline</td>
    </tr>
    <tr>
        <td>\t</td>
        <td>Horizontal tab</td>
    </tr>
    <tr>
        <td>\\</td>
        <td>The \ Character</td>
    </tr>
    <tr>
        <td>\'</td>
        <td>Single quotation mark</td>
    </tr>
    <tr>
        <td>\"</td>
        <td>Double quotation mark</td>
    </tr>

</table>

## Initializing a Variable or constant

**Initializing** - This is a process of creating a variable and setting it to a defult value

## Formating text for output

This process is for presenting requried output in tabular format.

**Feild width** - total number of data characters and addtional spaces for a given datum in a formated string.

**%** = format operator 

**%6s** = format string

In [1]:
for exponent in range(7,11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

In [5]:
print("four")
print("%6s" % "four") # Right justified
print("%-6s" % "four") # Left justified

four
  four
four