## Working with Python Variables

### Stucture of creatign a varable 
(Variable name) (assignment opperator) (value
myVar = "blah"

### What are the data types in Python?
1. Strings - aning inside of '' or ""
2. Boolean - true/false
3. Integers - any number without a decimal 
4. Float - any number with a decimal

In [4]:
#Variable Reassignment

# A students gpa
student_gpa = 3.2 #Freshman year
student_gpa = 3.4 #Sophomore year
student_gpa = 3.7 #Junior year
student_gpa = 3.9 #Senior year

print(student_gpa)
# Output: 3.9

# If you need to store all data

student_gpa_fresh = 3.2 #Freshman year
student_gpa_Soph = 3.4 #Sophomore year
student_gpa_jr = 3.7 #Junior year
student_gpa_sr = 3.9 #Senior year

overall_gpa = (student_gpa_fresh + student_gpa_Soph + student_gpa_jr + student_gpa_sr) / 4
print(overall_gpa)

3.9
3.5500000000000003

In [5]:
# Sports team statistics

# basketball team variables
teamName = "Riverside Ravens"
wins = 18
losses = 7
pointsScored = 1456
pointsAllowed = 1298
leadingScorer = "Jordan Thopson" 
averagePointsPerGame = 58.2
chanmpions_contetders = True

print(chanmpions_contetders)

True

In [7]:
# the input function

#input("What is your first name?")

first_name = input("What is your first name? ")

print("Hello, " + first_name + "!")

Hello, Atreyu!

## 4 Main computational Process

- Input 
- Processing 
- Storage
- Output

### Strings, Assignments, and Comments:

**Data types** - Consists of a set of values and a set if operations that can be performed on those values 

A **Literial** - is the way a value of a data type looks to a programmer

type of data 

<table>
    <tr>
        <th>Type of Data</th>
        <th>Python type Name</th>
        <th>Example Literals</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    <tr>
        <td>Real numbers</td>
        <td>float</td>
        <td>-0.55, .3333, 3.15, 6.0</td>
    </tr>

    <tr>
</table>

In [3]:
hello = "Hello, there!"
myInt = 675
print(hello) # Litteral is: Hello there!
print(myInt) # Litteral is: 675

Hello, there!
675

## Escape Sequences

**Escape Sequences** - the way python expresses special charcters, such as tab

<table>
    <tr>
        <th>Escape Sequences</th>
        <th>Meaning<th>
    </tr>
    <tr>
        <td>\n</td>
        <td>Newline</td>
    </tr>
    <tr>
        <td>\t</td>
        <td>Horizontal tab</td>
    </tr>
    <tr>
        <td>\\</td>
        <td>The \ Character</td>
    </tr>
    <tr>
        <td>\'</td>
        <td>Single quotation mark</td>
    </tr>
    <tr>
        <td>\"</td>
        <td>Double quotation mark</td>
    </tr>

</table>

## Initializing a Variable or constant

**Initializing** - This is a process of creating a variable and setting it to a defult value

## Formating text for output

This process is for presenting requried output in tabular format.

**Feild width** - total number of data characters and addtional spaces for a given datum in a formated string.

**%** = format operator 

**%6s** = format string

In [1]:
for exponent in range(7,11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

In [5]:
print("four")
print("%6s" % "four") # Right justified
print("%-6s" % "four") # Left justified

four
  four
four

## Define Iteration 

Reapeating an action or process a predefined number of times. Also know as a specific type of iteration: **Definite Iteration**

Perform an action or process until the program determins that it needs to stop: **Indefinite Iteration**

#### Each of these iterations uses a different type of loop

Definite Iteration --> for loop 
Indefinite Iteration --> while loop

In [2]:
# excute a statment a given number of times
for eachPass in range(4): # iterate through 4 times
    print("It's alive!", end = " ")
    # Each time through the loop, counting 0-3 
    #print it's alive fallowed by a space

It's alive! It's alive! It's alive! It's alive!

## The structure of a for loop 

for (variable) in range(an integer expression):
    reapeat any number if statments 

loop header - the line that starts with 'for'
loop Body - comprises the statments in the remaniming lines of code

## Python's expination operator

In [4]:
# Exponent example

number = 2
exponent = 3
product = 1
print("\n The variable product starts at", product)
for eachPass in range(exponent): 
    product = product * number
    print(product, end = " ")

print("\n The variable product is now", product)

 The variable product starts at 1
2 4 8
 The variable product is now 8

## Count-controlled loops 

**Count-controlled loops** - loops that count throught a range of number

In [5]:
for count in range(4):
    print(count, end = " ")\

0 1 2 3

In [8]:
product = 1 # initializing a counter

for count in range(4):
    product = product * (count + 1)
    print(product, end = " ")
print(product)

1 2 6 24 24

## Loop through a range of numbers

In [9]:
product = 1

for count in range(1, 5): 
    product = product * count
    print(product, end = " ")

print("\n\n", product)

1 2 6 24

 24

### loop head stucture with lower and upper bounds 

for (variable) in range(lower bound, upper bound plus one):

In [13]:
lower = int(input("Enter the lower bound: "))
upper = int(input("Enter the upper bound: "))

theSum = 0 # notice we created theSum is a python keyword
for number in range(lower, upper + 1):
    theSum += number

print(theSum)

45

## Augmented Assignment

**Augmented Assignment** - when the assignment symbol is combined with the arithmitic and concatination operators.

structure:
(Variable) (operator)= (Expression)

In [17]:
a = 17
s = "hi"

a += 3 # equivalent to a = a + 3

print(a)

a *= 3 # equivalent to a = a * 3
print(a)

a %= 3 # equivalent to a = a % 3
print(a)

20
60
0

In [18]:
s += " there" # equivalent to s = s + " there"
print(s)

hi there

## loop Errors: Off-by-One-Error

**Off-By-One-Error** - These are errors that results when the programer incorecty specifices an upper bound for a loop

In [22]:
for count in range(1,5):
    print(count)

1
2
3
4

## Traversign Contents of a Data Sequence

In [ ]:
print(list(range(4)))
print(list(range(1,5)))

[0, 1, 2, 3]
[1, 2, 3, 4]

In [26]:
# use something other than the range function in the loop head

for number in [6,4,8]:
    print(number, end = " ")

6 4 8

In [27]:
for charcter in "Hello there":
    print(charcter, end = " ")

H e l l o   t h e r e